<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>994979116488-oa7l62v9ci4ishmcmre1ic1od3ab1d4u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.994979116488-oa7l62v9ci4ishmcmre1ic1od3ab1d4u</string>
	<key>API_KEY</key>
	<string>AIzaSyCnzRRoL_hxAx1f4qI-GPz9hMMD0OF2cyg</string>
	<key>GCM_SENDER_ID</key>
	<string>994979116488</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.YourOwn.RefV-1</string>
	<key>PROJECT_ID</key>
	<string>refv-1</string>
	<key>STORAGE_BUCKET</key>
	<string>refv-1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:994979116488:ios:1a9f7d7fec48b4f7853cfd</string>
</dict>
</plist>